@model DentalClinicManagement.ViewModel.DoctorModel
@{
    ViewBag.Title = "Doctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section id="aboutD">
        <div class="container">
            <div class="name">Dr.@Model._single_doctor.doctor_fullname</div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <img src="@Model._single_doctor.doctor_photo" style="width:300px">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p>@Model._single_doctor.doctor_about</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <i class="fas fa-phone"></i>  @Model._single_doctor.doctor_phone
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <i class="fas fa-at"></i>  @Model._single_doctor.doctor_email
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <i class="fas fa-map-marker"></i>  @Model._single_doctor.doctor_address
                </div>
            </div>
        </div>
    </section>
   
