@model DentalClinicManagement.ViewModel.SalaryModel
@{
    ViewBag.Title = "Salary";
    Layout = "~/Areas/Accountant/Views/Shared/Layout.cshtml";
}

<section id="profile">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="profile_img">

                    <img src="@Model._stuff.stuff_photo" class="img-fluid">
                </div>
                <div class="user_about">
                    <h5 style="color:white">@Model._stuff.stuff_fullname</h5>
                    <span style="color:white">@Model._stuff.stuff_about</span>
                </div>
                <div class="work_for">
                    <p>
                        <b>Start to work :</b>
                        <span>@Model._stuff.stuff_start_date.ToString().AsDateTime().ToShortDateString()</span>
                    </p>
                </div>
                <hr>
            </div>
            <div class="col-md-9">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-tasks"></i> Salary
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Doctor Name</th>
                                        <th>Doctor Beginer Salary</th>
                                        <th>Leave Count</th>
                                        <th>Award Price</th>
                                        <th>End Of Month Salary</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model._doctors)
                                    {
                                    <tr>
                                        <td>@item.doctor_fullname</td>
                                        <td>@item.doctor_salary</td>

                                        <td>
                                            @{

                                                int l_count = @Model._leave.Where(l => l.doctor_id == item.id && l.leave_date.Value.Month == DateTime.Now.Month).Count();
                                            }
                                            <span>@l_count</span>

                                        </td>
                                        <td>
                                            @{

                                                int w_price = Convert.ToInt32(@Model._award.Where(a => a.award_doctor_id == item.id && a.award_date.Value.Month == DateTime.Now.Month).Select(a => a.award_price).Sum());
                                                                                }
                                            <span>@w_price</span>
                                                                            </td>
                                        <td>
                                            @{ 
                                                int end_salary = Convert.ToInt32(item.doctor_salary)-l_count*10+ w_price;
                                            }
                                            <span>@end_salary</span>
                                        </td>
                                           
                                    </tr>
}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>