@model DentalClinicManagement.ViewModel.DoctorBookingModel
@{
    ViewBag.Title = "Bookings";
    Layout = "~/Areas/DoctorPanel/Views/Shared/_Layout.cshtml";
}

<section id="profile">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="profile_img">

                    <img src="@Model._doctor.doctor_photo" class="img-fluid">
                </div>
                <div class="user_about">
                    <h5 style="color:white">@Model._doctor.doctor_fullname</h5>
                    <span style="color:white">@Model._doctor.Department.department_name</span>
                </div>
                <div class="work_for">
                    <p>
                        <b>Start to work :</b>
                        <span>@Model._doctor.doctor_start_date</span>
                    </p>
                </div>
                <hr>
            </div>
            <div class="col-md-9">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-tasks"></i> Bookings
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Patient Name</th>
                                        <th>Patient Email</th>
                                        <th>Patient Phone</th>
                                        <th>App Date</th>
                                        <th>App Time</th>
                                        

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model._doctor_app)
                                    {
                                        <tr>
                                            <td>@item.patient_name</td>
                                            <td>@item.patient_email</td>
                                            <td>@item.patient_phone</td>
                                            <td>@item.appoint_date.ToString().AsDateTime().ToShortDateString()</td>
                                            <td>@item.appoint_hour.ToString().AsDateTime().ToShortTimeString()</td>


                                           
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

